<div class="container">
  <div class="cocktails-contain">
    <div class="cocktail-image-left">
      <div class="cocktail-image">
        <%= cl_image_tag "mojito-e-liquid_j40mqv.jpg", width: 500, height:338, crop: :pad %>
      </div>
      <div class="cocktail-text">
        <h3 class="cocktail-headers">Mojito</h3>
        <p class="cocktail-small-headings">INGREDIENTS</p>
        <table class="cocktail-recipe">
          <tr>
            <td>Lime Wedges</td>
            <td>4 pcs</td>
          </tr>
          <tr>
            <td>Sugar Syrup</td>
            <td>2 cl</td>
          </tr>
          <tr>
            <td>Mint Leaves</td>
            <td>8 - 12</td>
          </tr>
          <tr>
            <td>Light Rum</td>
            <td>6 cl</td>
          </tr>
          <tr>
            <td>Soda</td>
            <td>Top</td>
          </tr>
        </table>
<!--         <p class="cocktail-small-headings">GARNISH</p>
        <p>Mint Sprig</p>
        <p class="cocktail-small-headings">METHOD</p>
        <p>Muddle, Bash, Build & Churn</p> -->
      <%= link_to "TRY IT YOURSELF !", tutorials_path, class: "cocktail-try-button" %>
      </div>
    </div>




    <div class="cocktail-image-right">
      <div class="cocktail-text">

      </div>
      <div class="cocktail-image">

      </div>

    </div>
  </div>
</div>


    <% @cocktails.each do |c| %>
    <%= c.name %>
    <%= c.recipe %>
    <% end %>
