.cocktails-contain {
  margin-top: 125px;
}

.cocktail-image-left, .cocktail-image-right {
  height: 340px;
  width: 1000px;
  display: flex;
  margin: 75px auto;
}

.cocktail-image {
  height: 340px;
  width: 500px;
  background-color: gray;
}

.cocktail-text {
  height: 340px;
  width: 500px;
  background-color: #F2F2F2;
}

.cocktail-headers {
  font-size: 24px;
  margin-left: 15px;
}

.cocktail-recipe {
  font-size: 12px;
  margin-left: 15px;
  border-collapse: separate;
  border-spacing: 5px 0px;
}

.cocktail-column {
  columns: 2;
}
