.cocktails-contain {
  margin-top: 125px;
}

.cocktail-image-position {
  height: 340px;
  width: 1000px;
  display: flex;
  margin: 75px auto;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
}

.cocktail-image {
  background-color: gray;
}

.cocktail-text {
  height: 340px;
  width: 500px;
  background-color: rgb(252,252,252);
  padding-left: 30px;
  position: relative;

}

.cocktail-headers {
  font-size: 24px;
  margin-bottom: 30px;
}

.cocktail-recipe {
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 25px 0px;
  font-family: "Helvetica";
  margin-top: 20px;
}

.cocktail-recipe td {
  padding-bottom: 1px;
}

.cocktail-column {
  columns: 2;
}

.cocktail-small-headings {
  font-family: "Amiko";
  font-size: 11px;
  color: $orange;
  border-bottom: 2px solid #FF8E3F;
  width: 90%;
}

.cocktail-try-button {
  font-family: "Amiko";
  text-decoration: none;
  color: white;
  background-color: $orange;
  border-radius: 2px;
  font-size: 11px;
  padding: 7px 12px;
  position: absolute;
  bottom: 50px;
}

.cocktail-try-button:hover, .cocktail-try-button:focus, .cocktail-try-button:active  {
  text-decoration: none;
  color: $orange;
  background-color: transparent;
  border: 1.3px solid $orange;
}

