// Specific CSS for your home-page
  .home-headers:hover {
    color: $orange;
  }

  .home-content {
    text-align: justify;
    text-justify: inter-word;
  }

  .home-mini-head {
    font-family: "Amiko";
    color: $orange;
  }

  .home-libres {
    font-family: "Libre Baskerville";
  }

@media only screen
and (max-width: 768px) {
  .home-images-properties {
    width: 90%;
    height: auto;
    margin-bottom: 12px;
  }

  .container {
    margin: 0px;
    padding: 0px;
  }

  .home-element {
    margin: 10px;
    margin-bottom: 40px;
  }

  .home-headers {
    font-size: 14px;
  }

  u {
    text-decoration: none;
    border-bottom: 3px solid $orange;
  }

  .home-text {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .home-mini-head {
    font-size: 8px;
    margin-top: 5px;
  }

  .home-libres {
    font-size: 10px;
    margin-top: 1px;
  }

  .home-content {
    font-size: 10px;
  }
}

@media only screen
and (min-width: 769px) {
  .home-headers {
    font-size: 27px;
  }

  u {
    text-decoration: none;
    border-bottom: 4px solid $orange;
  }

  .home-element {
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 75px;
  }

  .home-text {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 25px;
  }

  .home-images-properties {
    width: 540px;
    height: auto;
  }

  .home-mini-head {
    font-size: 9px;
  }

  .home-libres {
    font-size: 16px;
    margin-top: 3px;
  }

  .home-sep-img-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-image-content {
    margin-left: 20px;
  }
}


