<div class="navbar-container">
  <div class="navbar-navigation">
      <%= link_to root_path, class: "navbar-links" do %>
        <div class="navbar-line"><span class="hover hover-1">HOME</span></div>
      <% end %>
      <%= link_to cocktails_path, class: "navbar-links" do %>
        <div class="navbar-line"><span class="hover hover-1">OUR COCKTAILS</span></div>
      <% end %>
      <p class="navbar-logo-pre-style">LOGO</p>
      <%= link_to tutorials_path, class: "navbar-links" do %>
        <div class="navbar-line"><span class="hover hover-1">TUTORIALS</span></div>
      <% end %>
      <%= link_to contact_path, class: "navbar-links" do %>
        <div class="navbar-line"><span class="hover hover-1">CONTACT</span></div>
      <% end %>
  </div>
</div>

