<div class="navbar-container">
  <div class="navbar-navigation">
    <%= link_to root_path, class: "navbar-links" do %>
          HOME
    <% end %>
    <%= link_to cocktails_path, class: "navbar-links" do %>
          OUR COCKTAILS
    <% end %>
    <p class="navbar-logo-pre-style">LOGO</p>
    <%= link_to tutorials_path, class: "navbar-links" do %>
          TUTORIALS
    <% end %>
    <%= link_to contact_path, class: "navbar-links" do %>
          CONTACT
    <% end %>
  </div>
</div>
