<div class="container">
    <div class="home-banner">
      <%= cl_image_tag "pexels-photo-331107_celgz2.png", class: "banner-properties" %>
    </div>
    <!-- <div class="banner-properties" style="background-image: linear-gradient(-225deg, rgba(105,104,105,0.6) 0%, rgba(105,104,105,0.6) 50%), url('../../assets/images/pexels-photo-331107.png');">Content</div> -->

    <div class="home-element">
      <h3 class="home-headers"><u>Cocktail Masterclass</u></h3>
      <p class="home-text">Learn to make your favorite cocktails with our dedicated teams of bartenders. <br>
      Is there something more fun than learning while drinking?</p>
      <div class="home-sep-img-text">
        <div class="home-image">
          <%= cl_image_tag "CocktailPassion_w3t6mr.jpg", class: "home-images-properties" %>
        </div>
        <div class="home-image-content">
          <span class="home-mini-head">LEARN, DRINK, ENJOY & DRINK MORE !</span>
          <h6 class="home-libres">At your place, with all your friends</h6>
          <p class="home-content">Whether you’re 2 or 20, our team will ensure that you learn all the right
        techniques to make the cocktails of your choices. You will be shown how
        to make the cocktails by our experienced bartenders and you will then have
        to do it by yourself, with our assistance, and more importantly, to taste them
        at the end ! And if your cocktails are a success, nobody is preventing you to
        drink them all.</p>
        </div>
      </div>
    </div>


    <div class="home-element">
      <h3 class="home-headers"><u>Hire bartenders for your event</u></h3>
      <p class="home-text">Drink your favorite cocktails made by our dedicated teams of bartenders. <br>
      Is there something better thank drinking exquisite cocktails during your events?</p>
      <div class="home-sep-img-text">
        <div class="home-image">
          <%= cl_image_tag "Drink_vvd5ch.jpg", class: "home-images-properties" %>
        </div>
        <div class="home-image-content">
          <span class="home-mini-head">DRINK, ENJOY, DRINK MORE AND ENJOY MORE !</span>
          <h6 class="home-libres">At the location of your choice, with whoever you want</h6>
          <p class="home-content"> Whether you’re willing to throw a party, a wedding or a corporate event,
        our team will ensure that everybody is taken care of and that nobody dies
        of dehydration.</p>
        </div>
      </div>
    </div>
</div>
