.navbar-container {
  background-color: #383737;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
}


.navbar-logo-pre-style {
  margin: 0px;
  margin-top: 60px;
  height: 50px;
  width: 50px;
  background-color: $orange;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-navigation {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Amiko', sans-serif;
  font-size: 10px;
}

.navbar-links {
  color: #F4F4F4;
  text-decoration: none;
}

.navbar-links:hover {
  text-decoration: none;
  color: #FF8E3F;
}

// font-family: 'Amiko', sans-serif;
// font-family: 'Cardo', serif;
// font-family: 'Libre Baskerville', serif;
